table, th, td{
    border:1px solid black;
    font-size: 30px;
    padding: 10px;
}

form, label, input{    
    font-size: 30px;
    padding: 10px;
}

input{
    margin-top: 10px;
}

a{
    font-size: 30px;
    color: blueviolet;
}

a:hover{
    cursor: pointer;
    color: blueviolet;
}