@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    BizRuntime IT Services,<br />
    Sarjapur Road,<br />
    Bangalore,<br />
    India<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:kpm563@live.com">kpm563@live.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:kpm563@live.com">kpm563@live.com</a>
</address>
